
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.cajaheader{
  width: 100%;
  text-align: right;
  color: yellow;
  padding-right: 10px;
}
.cajaAcciones2{
  width: 49%;
  background-color:beige;
  float: left;
  margin-right: 1px;
  border-radius: 10px;
}
.cajaAcciones1{
  width: 49%;
  margin-left: 1px;
  background-color: beige;
  float: right;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.encabezado {
  background-color: #004d40;;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items:right;
  padding-left: 10px;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu {
  background-color: #004d40;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items:right;
  padding-left: 2%;
  padding-right: 2%;
  
  font-size: calc(10px + 2vmin);
  color: white;
}
.pie {
  background-color: #004d40;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items:right;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.caja{
  width: 80%;
  margin:10px;
}
.cajaTamaño{
  width: 80%;
}
.cajaDerecha{
  position: absolute;
  top:91.5%;
  left: 95%;
}
.imgMenu{
  width: 100%;
  border-radius: 100%;
  padding: 4%;
}

.App-link {
  color: #61dafb;
}
.fondo{
  background-color: beige;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p#texto_file{
  text-align: center;
  color: white;

}
div#div_file{
  position: relative;
  align-items: flex-start;
  padding: 10px;
  width: 250px;
  height: 40px;
  background-color: #1c75ac;
  border-radius:5px;
  box-shadow: 0px 3px 0px #02273d;
  cursor: pointer;
  
   
}
div#div_file:hover{
  box-shadow: 0px 3px 0px #1c75ac ;
  background-color: #02273d;
}

input#imgPicker{
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.imgFile{
  width: 250px;
  border-radius: 50px 0px 50px 0px;
  padding-left: 10px;
}